In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv("data/movie_data_final.csv")
df.head() # title : str

,title,budget,genres,country,main_charactor,director,vote_average
0,{616037: 'Thor: Love and Thunder'},250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",{3894: 'Christian Bale'},{55934: 'Taika Waititi'},6.753
1,{438148: 'Minions: The Rise of Gru'},85000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'iso_3166_1': 'US', 'name': 'United States o...",{124747: 'Pierre Coffin'},{8023: 'Kyle Balda'},7.775
2,{507086: 'Jurassic World Dominion'},165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...",{18997: 'Bryce Dallas Howard'},{930707: 'Colin Trevorrow'},7.110
3,{361743: 'Top Gun: Maverick'},170000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",{996701: 'Miles Teller'},{86270: 'Joseph Kosinski'},8.335
4,{718789: 'Lightyear'},200000000,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",{74688: 'Keke Palmer'},{7929: 'Angus MacLane'},7.359

In [ ]:
# vote_average를 가중치를 부여
# vote = (v/(v+m))*R + (m/(v+m))*C
# v : 개별 영화에 투표한 횟수, m : 평점을 부여하기 위한 최소 투표 횟수
# R : 개별 영화에 대한 평균 평점(=vote_average), C : 전체 영화에 대한 평균 평점

In [92]:
import ast #형태가 리스트/딕셔너리인 문자열을 다시 리스트/딕셔너리 형태로 바꿀 수 있다.

In [93]:
# title: 이름, id/ genres: to_categorical/ country: to_categorical/ charactor: 이름, id/ director: 이름, id/ result 0 or 1
# numpy 배열 (5302,)
df_list = []
title, budget, genres, country, charactor, director, result=[], [], [], [], [], [], []
for idx in df.index:
    title.append([ast.literal_eval(df.title[idx])])
    budget.append([int(df.budget[idx])])
    genres.append(ast.literal_eval(df.genres[idx]))
    country.append(ast.literal_eval(df.country[idx]))
    charactor.append([ast.literal_eval(df.main_charactor[idx])])
    director.append([ast.literal_eval(df.director[idx])])
    result.append([1 if df.vote_average[idx] >= 0.5 else 0])
df_list.append([title, budget, genres, country, charactor, director, result])
df_arr = np.array(df_list)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_26356\997856842.py:13: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  df_arr = np.array(df_list)

In [94]:
# for title, charactor, director
class SeperateID_Name:
    def __init__(self, column):
        self.id = []
        self.name = []
        self.column = column

    def print(self):
        for col in self.column:
            for key, value in col[0].items():
                self.id.append(int(key))
                self.name.append(str(value))
        return self.id, self.name

In [95]:
# title : dictionary about title_ID & title_Name
sep_title = SeperateID_Name(title)
title_ID, title_Name = sep_title.print()
# charactor : dictionary about char_ID & char_Name
sep_charactor = SeperateID_Name(charactor)
char_ID, char_Name = sep_charactor.print()
# director : dictionary about dir_ID & dir_Name
sep_director = SeperateID_Name(director)
dir_ID, dir_Name = sep_director.print()

In [96]:
df.head()

,title,budget,genres,country,main_charactor,director,vote_average
0,{616037: 'Thor: Love and Thunder'},250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",{3894: 'Christian Bale'},{55934: 'Taika Waititi'},6.753
1,{438148: 'Minions: The Rise of Gru'},85000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'iso_3166_1': 'US', 'name': 'United States o...",{124747: 'Pierre Coffin'},{8023: 'Kyle Balda'},7.775
2,{507086: 'Jurassic World Dominion'},165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'iso_3166_1': 'US', 'name': 'United States o...",{18997: 'Bryce Dallas Howard'},{930707: 'Colin Trevorrow'},7.110
3,{361743: 'Top Gun: Maverick'},170000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",{996701: 'Miles Teller'},{86270: 'Joseph Kosinski'},8.335
4,{718789: 'Lightyear'},200000000,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",{74688: 'Keke Palmer'},{7929: 'Angus MacLane'},7.359

In [97]:
# country dictionry name to id 만들기
country_data = []
for cs in country:
    for c in cs:
        country_data.append(c['name'])
country_dict = {}
i = 0
for l in country_data:
    try: country_dict[l]  # 찾으면 패스 못찾으면 선언 및 아이디 부여
    except: 
        country_dict[l] = i
        i += 1

In [110]:
len(country_dict)

93

In [98]:
# for genres, country
class SeperateID_Name_list:
    def __init__(self, column):
        self.ids, self.id = [], []
        self.names, self.name = [], []
        self.column = column
    def print(self):
        for cols in self.column:
            for col in cols:
                self.id.append(list(col.values())[0])
                self.name.append(list(col.values())[1])
            self.ids.append(self.id)
            self.names.append(self.name)
            self.id = []
            self.name = []
        return self.ids, self.names

In [99]:
# genres
sep_genres = SeperateID_Name_list(genres)
genre_ID, genre_Name = sep_genres.print()
# country 
sep_country = SeperateID_Name_list(country)
country_ID, country_Name = sep_country.print()

In [100]:
# country_ID id 저장
country_I = []
country_ID = []
for names in country_Name:
    for name in names:
        country_I.append(country_dict[name])
    country_ID.append(country_I)
    country_I = []

In [101]:
df.head(1)

,title,budget,genres,country,main_charactor,director,vote_average
0,{616037: 'Thor: Love and Thunder'},250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",{3894: 'Christian Bale'},{55934: 'Taika Waititi'},6.753

In [102]:
print(len(title_ID), len(budget), len(genre_ID))

5302 5302 5302

In [103]:
# 로지스틱 회귀 모델(sigmoid) : weight초기화, dropout, ReLU, batch nomalization
# 결과 : 흥행성공, 흥행 실패, 전체영화 의 평균 정확도
# 1. 데이터셋 준비하기
ID = []
for idx in range(5302):
    ID.append([title_ID[idx], *budget[idx], genre_ID[idx], country_ID[idx], char_ID[idx], dir_ID[idx], result[idx]])
X = np.array(ID)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_26356\553484842.py:7: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  X = np.array(ID)

In [104]:
# 장르 id와 국가별 id 길이 맞추기
# ex) [1, 2, 3], [1, 4, x] -> [1, 2, 3], [1, 4, 0]
# 길이의 최대값 구하기 7개
mx = 0
for length in genre_ID:
    if mx < len(length):
        mx = len(length)


# 최대가 아닌 길이들 combination
# ex) [1, 0, 0] => [1, 0, 0], [0, 1, 0], [0, 0, 1]

In [105]:
# y_train : 흥행했는지(1) 안했는지(0)
y = X[:,6:]
X = X[:,:-1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [106]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(4241, 6)
(4241, 1)
(1061, 6)
(1061, 1)

In [107]:
X_train[0]

array([440, 40000000, list([14, 28, 878, 53, 27]), list([0]), 25869, 6038],
      dtype=object)

In [108]:
# 2. 정규화 과정
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

ValueError: setting an array element with a sequence.