<pre>id값과 name값을 각각 column에 만들고 post path추가</pre>

In [165]:
import pandas as pd

In [166]:
name = pd.read_csv('../ML/data/movie_data_Name.csv')
id = pd.read_csv('../ML/data/movie_data_ID.csv')
post = pd.read_csv('../ML/data/movie_data_final.csv')

In [167]:
id.drop(['budget','vote_score','vote_count','vote_weight'], axis=1, inplace=True)

In [168]:
id.columns = ['titleID','genresID','countryID','charactorID','directorID']

In [169]:
post['overview'] = post['overview'].astype(str)

In [170]:
post['overview'] = post['overview'].apply(lambda x: x.replace('\r', ''))

In [171]:
df = pd.concat(
    [name, id, post[['overview', 'runtime', 'release_date', 'poster_path']]], axis=1)

In [172]:
df.to_csv('data/MovieForWeb.csv', encoding='utf-8', index=False)

In [178]:
# sql str은 len크기*4+1
for column in df.columns:
    try:    # str 타입인 컬럼만
        max = df[column].apply(lambda x: len(x)).max()
        print(column, ": ", max)
        max=0
    except:
        pass

title :  79
genres :  43
country :  157
charactor :  27
director :  32
genresID :  36
countryID :  45
overview :  994
release_date :  10

In [187]:
df['poster_path'] = df['poster_path'].astype(str)

In [188]:
# sql str은 len크기*4+1
for column in df.columns:
    try:    # str 타입인 컬럼만
        max = df[column].apply(lambda x: len(x)).max() * 4 + 1
        print("SQL", column, ":", max)
        max=0
    except:
        pass

SQL title : 317
SQL genres : 173
SQL country : 629
SQL charactor : 109
SQL director : 129
SQL genresID : 145
SQL countryID : 181
SQL overview : 3977
SQL release_date : 41
SQL poster_path : 269